.resistant {
    color: #e41a1c;
}

.sensitive {
    color: #377eb8;
}

/* Red fill and white text */
.alertbox {
  padding: 10px;
  border-radius: 10px;
  background-color: #e41a1c;
  color: white;
  margin-bottom: 5px;
}

.infobox { /* Blue fill and white text */
  padding: 10px;
  border-radius: 10px;
  background-color: #377eb8; 
  color: white;
  margin-bottom: 5px;
}